<ion-header>
  <ion-toolbar color="danger">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end"> 
      <button primary large>
        <ion-icon slot="icon-only" name="arrow-back" size="large" (click)="close()"></ion-icon>
      </button>
    </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://raw.githubusercontent.com/tayeblagha/images/main/{{img}}.jpg" style= "width:100%;height: 70%;"  />

<ion-item>description: 
  <ion-label>
    {{description}}
  </ion-label>
</ion-item>
<ion-item> startTime
  <ion-label>
    {{startTime}}
  </ion-label>
</ion-item>
<ion-item>endTime: 
  <ion-label>
    {{endTime}}
  </ion-label>
</ion-item>

</ion-content>
