<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>
      Profile <span> Badges</span>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="warning">

  
    <ion-tab-bar  >
      <ion-tab-button >
        Home <ion-icon icon="assets/icon/home.svg" (click)="page1()">  
     
        </ion-icon>
      </ion-tab-button>
      <ion-tab-button >
        Lessons<ion-icon name="time-outline" (click)="page2()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button >
        Calendar<ion-icon name="calendar-outline"  (click)="page3()"></ion-icon>
      </ion-tab-button>
      <ion-tab-button >
        <u> <b>About</b> </u><ion-icon  style="color: #fff;
        background: var(--custom-gradient-dark);" name="notifications-outline" (click)="page4()"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-toolbar>
</ion-header>

<ion-content>




  <div class="ion-padding">  
  
    <ion-item button lines="none">
      <ion-avatar slot="start">
        <img src="https://raw.githubusercontent.com/tayeblagha/images/main/man.svg">
      </ion-avatar>
      <ion-label>
        {{userid1}} 
        <p>Grade 11</p>
        <button (click)="changePassword()" style="color: beige;" *ngIf="email" >
           
          <h6 style="font-size:9px;" style="color:black;" >Change Password <ion-icon name="key-outline" style="color:black;"></ion-icon>  </h6>
        </button>

      </ion-label>
    </ion-item>
    
    <h4 class="p-4">Achievements <span class="fr link">See all</span></h4>
    
  
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="night">
        <img src="assets/icon/clock.svg">
      </ion-avatar>
      <ion-label>
        Punctual
        <p>You have not missed a single lesson.</p>
      </ion-label>
    </ion-item>
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="night">
        <img src="assets/icon/star.svg">
      </ion-avatar>
      <ion-label>
        Excellent Presentation
        <p>You have done great presentation.</p>
      </ion-label>
    </ion-item>
    <ion-item button lines="none" class="badge-item">
      <ion-avatar slot="start" class="night">
        <img src="assets/icon/profits.svg">
      </ion-avatar>
      <ion-label>
        Growing 
        <p>You have being growing quickly.</p>
      </ion-label>
    </ion-item>
  
<!--
    
    
    -->


  </div>
</ion-content>
