<ion-header [translucent]="true">

  
  <ion-toolbar color="danger">
    <ion-title>
      Calender Event
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="backToMain()">close <ion-icon name="close-circle-outline"></ion-icon> </ion-button>
      
     </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar color="danger"  *ngIf="!showAddEvent">
   <ion-buttons slot="start">
     <ion-button color="light" (click)="today()">Today </ion-button>
     <ion-button color="light" (click)="changeMode('month')">Month </ion-button>
     <ion-button color="light" (click)="changeMode('week')">Week </ion-button>
     <ion-button color="light" (click)="changeMode('day')">Day </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<div *ngIf="showAddEvent">
  <ion-item>
    <ion-label> <b> Title:</b></ion-label>
    <ion-input type="text" placeholder="Title" [(ngModel)]="newEvent.title"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label> <b> Description:</b></ion-label>
    <ion-input type="text" placeholder="Description:" [(ngModel)]="newEvent.description"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label> <b> Image:</b></ion-label>
    <ion-input type="text" placeholder="Image" [(ngModel)]="newEvent.img"> </ion-input>
  </ion-item>
  


<ion-item (click)="showPicker1=!showPicker1">
  <ion-label > <b> Start Time:</b></ion-label>
  <ion-text slot="end">
    {{formattedString1}}
  </ion-text>
</ion-item>
  
<ion-datetime *ngIf="showPicker1" #datetime [value]="dateValue1"  (ionChange)="dateChanged1(datetime.value)" doneText="ok" cancelText="Cancel" displayFormat="DD/MM/YYYY HH:mm"
[(ngModel)]="newEvent.startTime" [min]="minDate"
displayFormat="DD/MM/YYYY HH:mm"
pickerFormat="MMM DHH:mm"  >
</ion-datetime>

<ion-item (click)="showPicker2=!showPicker2">
  <ion-label > <b> End Time:</b></ion-label>
  <ion-text slot="end">
    {{formattedString2}}
  </ion-text>
</ion-item>
  
<ion-datetime *ngIf="showPicker2" #datetime [value]="dateValue2"  (ionChange)="dateChanged2(datetime.value)" doneText="ok" cancelText="Cancel" displayFormat="DD/MM/YYYY HH:mm"
[(ngModel)]="newEvent.endTime" [min]="minDate"
displayFormat="DD/MM/YYYY HH:mm"
pickerFormat="MMM DHH:mm"  >
</ion-datetime>
  
        

  <ion-button color="danger" expand="block" (click)="Ajouter()"> Add Event</ion-button>
</div>


  <ion-row  *ngIf="!showAddEvent"> <ion-col size="2"> 
    <ion-button fill="clear" (click)="back()">
       <ion-icon name="arrow-back" slot="icon-only"></ion-icon> </ion-button> </ion-col> 
    <ion-col size="8" class="ion-text-center">
    
    <h2>{{currentMonth}}</h2> </ion-col>

    <ion-col size="2"> <ion-button fill="clear" (click)="next()">
       <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
       </ion-button> </ion-col> </ion-row> 

    

   

  <calendar *ngIf="!showAddEvent" id="myCal" [eventSource]="allEvents" [calendarMode]="calendar.mode" startHours="0"
    noEventLabel="There is no Event to display" endHours="23" step="30" startingDayWeek="1"
     [currentDate]="calendar.currentDate"
     (onTitleChanged)="onViewTitleChanged($event)"
     (onEventSelected)="onEventSelected($event)"
     [timeInterval]="30"
     >
    
    </calendar>
     
    <ion-fab vertical="bottom" horizontal="end" slot='fixed'>
      <ion-fab-button (click)="showHideForm()">
        <ion-icon *ngIf="!showAddEvent" name="add"> </ion-icon>
        <ion-icon *ngIf="showAddEvent" name="close"> </ion-icon>

      </ion-fab-button>
    </ion-fab>
    


</ion-content>